@import 'materialize-css/sass/components/color';
$primary-color: color("blue-grey", "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("cyan", "lighten-1") !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;
$input-success-color: color("green", "base") !default;
$input-error-color: color("red", "base") !default;
$link-color: color("blue", "darken-3") !default;

$sidenav-font-color: $secondary-color !default;

$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $secondary-color !default;

@import 'materialize-css/sass/materialize.scss';

$background-color-dark: color("grey", "lighten-2");
$background-color-light: color("grey", "lighten-4");

// General
body {
  background-color: $background-color-light;
}

h1 {
  color: $secondary-color-dark;
}

nav {
  background-color:$background-color-light;
  ul{
    a {
      color: $primary-color;
      font-weight: 500;
    }
  }
}

.bold {
  font-weight: 400;
}

.extra-bold {
  font-weight: 500;
}

// Navigation
.brand-logo {
  line-height: normal;
  div {
    text-align: center;
    font-size: 1.5rem;
    margin-top: -5px;
  }
}
// Menu Transitions
#menu-btn {
  display: inline-block;
 i {
   color: $secondary-color-dark;
   line-height: inherit;
 }
}

.dropdown-menu {
  position: absolute;
  background-color: $background-color-dark;
  width: 300px;
  margin-top: 10px;
  left: 10px;
  @media #{$small-and-down} {
    margin: auto;
    margin-top: 10px;
  }
  ul {
    margin-top: 0px;
    li {
      padding: 10px;
      @extend .hoverable;
      a {
        color: $secondary-color-dark;
      }
    }

  }
}

.menu-enter {
  max-height: 0px;
  overflow: hidden;
}
.menu-enter-active {
  max-height: 200px;
  -webkit-transition: max-height .5s ease-in;
  transition: all .5s ease-in;
}

.menu-leave {
  opacity: 1;
}
.menu-leave-active {
  opacity: 0.01;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

// home page
.skills {
  margin-bottom: 10px;
}

#headshot-img {
  display: block;
  margin: 0px auto;
}

@media #{$large-and-up}{
  .flex-center {
    display: flex;
    align-items: center;
  }
}
